
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}
body{
    background-color: #373737;   
}
.container{
    width: 498px;;
    height: 250px;
    background-color:rgba(255, 255, 255, 1);
    margin: auto;
    /* top: -365px;
    left: 3px; */
}
.form_container{
    width: 360px;
    height: 202px;
    top: 19px;
    /* border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1); */
}

button{
    margin-left: 120px;
    padding: 5px;
    width: 128px;
    height: 27px;
    border-radius: 5px;
    
    
}
#status{
    width: 83px;
    height: 55px;
    top: 162px;
    left: 23px;
    gap: 0px;
    opacity: 0px;

    color: #219F35;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    

}
#email{
    width: 360px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: medium;
}
.email_control{
 padding: 15px;
 margin-top: 10px;
}
#password{
    width: 360px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: medium;
}
.password_control{
    height: 51px;
    width: 360px;
    padding: 5px;
    margin-left: 10px;
}
#psl{
    width: 74px;
}